// Colors
$teal-light: #17494d;
$teal-dark: #03363d;
$teal-hover: #50868d;
$green: #00a656;
$pink: #ce9fb7;
$blue: #30aabc;
$orange: #ff6224;
$orange-hover: #ffb79a;
$orange-light: #fed6a8;
$gray-light: #68737d;