@import "_reset.scss";
@import "colors.scss";

$transition-delay: 0.3s;

* {
  font-family: "Roboto", sans-serif;
}

section,
footer,
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  transition: all $transition-delay;
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
  transition: all $transition-delay;
}

blockquote {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  border-left: 2px solid #c2c8cc;
  padding-left: 30px;
}

span.line {
  width: 80%;
  align-self: center;
  height: 2px;
  position: relative;
  background: #c2c8cc;
  margin-bottom: 64px;
  &.fluid {
    width: 100%;
  }
}

span.pink {
  color: $pink;
}

span.green {
  color: $green;
}

span.blue {
  color: $blue;
}

.btn {
  padding: 10px 32px;
  border: 2px solid #efefef;
  font-family: "Roboto", sans-serif;
  color: black;
  background: #efefef;
  transition: all $transition-delay;
  &:hover {
    background: $gray-light;
    color: white;
    transition: all $transition-delay;
  }
}

.btn.teal {
  background: $teal-light;
  border: 2px solid $teal-light;
  color: white;
  &:hover {
    background: $teal-hover;
    border: 2px solid $teal-hover;
  }
}
.btn.orange {
  background: $orange;
  border: 2px solid $orange;
  color: white;
  &:hover {
    background: $orange-hover;
    border: 2px solid $orange-hover;
  }
}
.btn.teal.outline {
  color: $teal-light;
}
.btn.orange.outline {
  color: $orange;
}
.btn.outline {
  background: none;
  &:hover {
    color: white;
  }
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: column;
}

// header
.header-content {
  margin: 13px 145px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.navigation-link {
  color: $teal-dark;
  margin-left: 59px;
  font-size: 18px;
}
.small-header-content {
  margin: 15px 145px 0 145px;
  align-self: end;
}
.small-navigation-link {
  font-size: 14px;
  margin-left: 12px;
  color: $teal-light;
}

// intro

section.intro {
  min-height: 566px;
  background: $teal-light;
  color: white;
  font-family: "Roboto", sans-serif;
}

.intro-container {
  margin: 90px 150px;
  .intro-container-row {
    align-items: center;
    justify-content: space-between;
  }
  .main-title {
    width: 50%;
    font-size: 77px;
    font-weight: 800;
    margin-right: 200px;
    line-height: 110px;
  }
  .additional-info {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    p {
      margin-bottom: 36px;
    }
    button {
      padding: 15px 28px;
      line-height: 25px;
      font-size: 18px;
    }
    .row > * {
      margin-right: 15px;
    }
  }
}

// new-features block
section.new-features {
  min-height: 566px;
  background: $orange-light;
  color: $teal-light;
  font-family: "Roboto", sans-serif;
}

.new-features-container {
  margin: 90px 175px;
  .new-features-container-row {
    align-items: center;
    justify-content: space-between;
  }
  .main-img {
    font-size: 60px;
    font-weight: 800;
    margin-right: 70px;
    flex: 1 1 570px;
    position: relative;
    top: -140px;
  }
  .additional-info {
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: 300;
    h4 {
      font-size: 31px;
      margin-bottom: 26px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 36px;
    }

    a {
      font-weight: 800;
      margin-right: 16px;
      u {
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px solid $teal-dark;
      }
    }
    .row > * {
      margin-right: 15px;
    }
  }
}

// description block

section.description {
  color: $teal-dark;
  .title-block {
    margin-top: 40px;
    width: 45%;
    align-self: center;
    h3 {
      font-size: 48px;
      margin-bottom: 24px;
    }
    p {
      font-size: 20px;
      color: $teal-light;
      margin-bottom: 30px;
    }
  }

  text-align: center;
  .link-row {
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    a {
      color: $teal-light;
      margin-right: 55px;
    }
    a.current {
      color: $teal-dark;
      font-weight: 800;
    }
    margin-bottom: 33px;
  }
  .description-container-row {
    align-items: flex-start;
    .main-img {
      flex: 1 1 50%;
      margin-right: 145px;
    }
    .additional-info {
      text-align: left;
      margin-left: 200px;
      flex: 1 1 50%;
      h5 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 22px;
      }
      p {
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 34px;
      }
      a {
        font-size: 18px;
      }
      blockquote {
        color: $teal-light;
        margin-top: 65px;
        img {
          margin-bottom: 21px;
        }
        p {
          font-size: 16px;
          margin-bottom: 14px;
        }
        cite {
          font-weight: 300;
          font-size: 15px;
        }
      }
    }
  }
}

// Customize experience
section.customize-customer-experience {
  background: url("../img/customize-experience-bg.png") no-repeat;
  min-height: 640px;
  justify-content: center;

  .block {
    margin-right: 180px;
    align-self: flex-end;
    min-height: 416px;
    max-width: 625px;
    padding: 60px 55px;
    background: white;
    h3 {
      color: $teal-dark;
      font-size: 48px;
      font-weight: 400;
      line-height: 56px;
      margin-bottom: 22px;
    }
    p {
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 22px;
    }
    .navlink-row {
      a {
        color: $teal-light;
        margin-right: 36px;
        padding-bottom: 5px;
        border-bottom: 2px solid $teal-dark;
      }
    }
  }
}

section.table-content {
  .card-block {
    &:nth-child(1) {
      border-bottom: 2px solid #7d3d54;
    }
    &:nth-child(2) {
      border-bottom: 2px solid #3d8dae;
    }
    &:nth-child(3) {
      border-bottom: 2px solid #c38f00;
    }
    flex: 1 1 33%;
    color: $teal-dark;
    background: #f8f9f9;
    padding: 32px 35px 44px 32px;
    margin-right: 16px;
    margin-bottom: 64px;
    header {
      margin-bottom: 8px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
    }
    h5 {
      margin-top: 0;
      margin-bottom: 26px;
      font-size: 24px;
      font-weight: 800;
    }
    p {
      font-size: 15px;
      color: $teal-light;
      margin-bottom: 106px;
    }
    footer {
      a {
        border-bottom: 5px;
        width: fit-content;
        color: $teal-dark;
        border-bottom: 2px solid $teal-dark;
      }
    }
  }
  .bottom-block {
    padding: 48px 227px;
    align-items: center;
    background: #d6eef2;
    width: 100%;
    box-shadow: 0px 8px 24px rgba(104, 115, 125, 0.15);
    margin-bottom: 64px;
    h5 {
      font-size: 32px;
      margin: 0;
      margin-bottom: 24px;
    }
    img {
      width: 160px;
    }
  }
}

section.customer-experience {
  background: #f8f9f9;
  padding-top: 118px;
  .right-block {
    margin-left: 179px;
    flex: 1 1 50%;
    color: $teal-dark;
    h3 {
      font-size: 46px;
      line-height: 56px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      margin-bottom: 24px;
    }
    img {
      position: relative;
      left: -35px;
      margin-bottom: 37px;
    }
    a {
      color: $teal-light;
      padding-bottom: 5px;
      border-bottom: 2px solid $teal-dark;
      width: fit-content;
    }
  }
  .left-block {
    margin-right: 179px;
    flex: 1 1 50%;
  }
}

section.faq {
  color: $teal-dark;
  .container {
    padding-top: 64px;
  }
  .left-block,
  .center-block,
  .right-block {
    flex: 1 1 33%;
  }
  .left-block {
    margin-left: 179px;
    margin-right: 95px;
    h4 {
      font-size: 32px;
    }
  }
  .center-block,
  .right-block {
    margin-right: 45px;
    p {
      font-size: 18px;
      padding-bottom: 5px;
      border-bottom: 2px solid $teal-dark;
      margin-bottom: 21px;
    }
  }
  .right-block {
    margin-right: 180px;
  }
}

section.free-trials {
  background: #d6eef2;
  .container {
    align-items: center;
    justify-content: center;
    h1 {
      margin-top: 170px;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 47px;
    }
    a {
      margin-bottom: 130px;
      margin-right: 16px;
    }
  }
}

section.page-footer {
  padding: 95px 163px;
  padding-bottom: 0;
  header > .logo {
    width: 30px;
    height: 20px;
    margin-bottom: 20px;
  }
  h4 {
    max-width: 127px;
    font-size: 23px;
    font-weight: 400;
    margin-right: 50px;
  }
  header {
    text-transform: uppercase;
    font-weight: 300;
  }
  ul {
    padding: 0;
    margin-right: 65px;
    list-style: none;
    margin-bottom: 30px;
    li {
      font-weight: 300;
      margin-bottom: 3px;
    }
  }
  .fold-row {
    margin-bottom: 40px;
    h3 {
      font-size: 23px;
      margin-bottom: 6px;
      font-weight: 400;
    }
    p {
      font-weight: 300;
      font-size: 15px;
    }
    .block {
      margin-right: 70px;
    }
    input {
      min-width: 318px;
      padding-left: 35px;
    }
  }
  .footer-navlink {
    margin-bottom: 60px;
    a {
      color: #68737d;
      margin-right: 17px;
      font-weight: 300;
    }
  }
  .copyright {
    margin-bottom: 30px;
    header {
      text-transform: none;
      font-size: 13px;
      font-weight: 400;
      color: #68737d;
    }
    p {
      font-size: 14px;
      color: #68737d;
    }
  }
}
